// **************************************************
// Name: _layout-helpers.scss
// Description: introduction sections
// **************************************************



// Create Classes for padding in sections
// Might be able to replace inner content container?


// Section Spacing, vertical padding
// --------------------------------------------------

// outer spacing for seciton
.section-space {
  padding: 75px 0;
}


// inner spacing for section
.inner-tpad {
  padding-top: 50px;
}



// Horizontal and Vertical Center
.hv-center {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
