// **************************************************
// Name: typeography.scss
// Description: custom type helpers
// **************************************************




// Alignment
// -------------------------------------------------

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }


.text-md-center {
  text-align: center;
  @include mq(md) {
    text-align: left;
  }
}


// Lists
// --------------------------------------------------

// Remove style, bullets, numbers from <li> children
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Make list inline and unstyled
.list-inline {
  @extend .list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}


// Type Size
// --------------------------------------------------

.type-lead {
  font-size: 3.75rem;
}

.type-lg {
  font-size: 1.15rem;
  @include mq(md) {
    font-size: 1.3rem;
  }
}

// Type Vertical Spacing
// --------------------------------------------------

.type-bpad {
  padding-bottom: 20px;
}


// Transform
// -----------------------------

.type-uppercase {
  text-transform: uppercase;
}
