// **************************************************
// Name: button.scss
// Description: buttons styles, <a> & <button>
// **************************************************


// Standard Buttons
// ------------------------

// basic button form

%btn {
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .1rem;
  border-radius: 5px;
  transition: $transition-basic;
  text-align: center;
  // remove default hover underline on anchor tags
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}


// button size
// --------------------------

.btn-lg {
  @extend %btn;
  width: 100%;
  padding: 18px 45px;
  @include mq(md) {
    padding: 18px 45px;
  }
}

.btn-sm {
  @extend %btn;
  padding: 9px 20px;
  font-size: 14px;
}


// button look
// --------------------------

// primary action // brand color
.btn-primary {
  background: $brand-primary;
  color: $gray-lighter;
  &:hover {
    background: $brand-light;
    color: white;
  }
}

// primary action / accent color
.btn-primary-accent {
  background: $accent-primary;
  color: $gray-lighter;
  &:hover {
    background: $accent-light;
    color: white;
  }
}

// Secondary Action Buttons
// ---------------------------------

// brand color
.btn-alt-brand {
  border: 1px solid $brand-primary;
  color: $gray-lighter;
  &:hover {
    background: $brand-primary;
    color: white;
  }
}

// accent color
.btn-alt-accent {
  border: 1px solid $accent-primary;
  color: $gray-lighter;
  &:hover {
    background: $accent-primary;
    color: white;
  }
}

// white color
.btn-alt-white {
  border: 1px solid white;
  color: white;
  &:hover {
    background: white;
    color: $brand-primary;
  }
}
