// **************************************************
// Name: _hero.scss
// Description: hero image in the header
// **************************************************


// hero
// --------------------------------------------------

.hero {
  height: 700px;
  height: 98vh;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;
  background:
    url('../img/hero-bg-pin.jpg');
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
}


// Quote Block for hero section
// ------------------------------

.quote {
  min-width: 550px;
  max-width: 700px;
  background: rgba(black, .6);
  padding: 80px 120px 60px;
  margin-top: 15vh;
  color: white;
  border-radius: 7px;
  text-align: center;
  position: relative;
}

.quote:after {
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    bottom: -20px;
    right: 180px;
    border-style: solid;
    border-width: 0 50px 20px 0;
    border-color: transparent rgba(black, .6) transparent transparent;
    z-index: 2;
  }

.quote-marks:before {
  content: '“';
  font-size: 110px;
  font-family: 'bitter';
  position: absolute;
  left: 55px;
  top: 50px;
  color: $brand-primary;
  line-height: 1;
}
.quote-marks:after {
  content: '”';
  font-family: 'bitter';
  font-size: 110px;
  line-height: 1;
  position: absolute;
  right: 60px;
  bottom: 40px;
  color: $brand-primary;
}

.quote-body {
  font-size: 24px;
}

.quote-footer {
  font-size: 16px;
  margin-top: 40px;
}

.quote-avatar {
  position: absolute;
  height: 125px;
  width: 125px;
  bottom: -85px;
  right: 20px;
  border-radius: 50%;
  border: 5px solid $brand-primary;
  background: $brand-primary;
  box-shadow: $shadow-primary;
}
