// **************************************************
// Name: icons.scss
// Description: common icon styles
// **************************************************


.icon--circle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 20px;
  @include mq(md) {
    margin-top: 18px;
  }
}

.icon--accent {
  background: $accent-primary;
}

.icon--shadow {
  box-shadow: $shadow-primary;
}
