// **************************************************
// Name: _topbar.scss
// Description: main navigation bar on page
// **************************************************


// topbar
// --------------------------------------------------

.topbar {
  width: 100%;
  height: 65px;
  background: rgba($gray-dark, 1);
  box-shadow: $shadow-primary;
}



// topbar elements
// -----------------------------

// container for topbar logo
.topbar__brand {
  float: left;
  width: 120px;
  height: 63px;
  background: url('../img/brand.svg') no-repeat left center;
  background-size: contain;
  @include mq(md) {
    width: 170px;
  }
}

// Container for topbar navigation
.topbar__nav {
  float: right;
  padding-top: 22px;
  // basic topbar nav links
}

// Style for topbar links
.topbar__link {
  display: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-right: 30px;
  // increase click target size
  padding: 20px 5px;
  color: $gray-light;

  &:hover {
    color: $gray-lighter;
    text-decoration: none;
  }

  @include mq(md) {
    display: inline;
  }
}
