
// Custom Slider made by ME

// Slider Container
.slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  p {
    text-shadow: $shadow-text;
  }
}

// Slide Containers
.slide {
  min-height: 400px;
  color: white;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  @include mq(md) {
    min-height: 600px;
  }
}

// Slider Butons
.next, .prev {
  padding: 30px 10px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba($brand-darker, .3);
  color: white;
  border: none;
  z-index: 100;
  transition: .3s;
  &:hover {
    background: rgba($brand-darker, .5);
  }
}
.prev { left: 0;}
.next { right: 0;}




// Slide Specific Styles
// ----------------------------------------------

// Slide Energy
// ---------------------
.slide-energy {
  height: 100%;
  width: 100%;
  background:

  linear-gradient(
    rgba($brand-primary, 1),
    rgba($brand-primary, 0.3)
  ),
    url('../img/slide-energy.jpg') center center;
  background-size: cover;
}

.slide-energy:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -38px;
  transform: translateX(-50%);
  height: 75px;
  width: 75px;
  background:
    url('../img/energy-icon.svg'),
    $brand-primary;
  border-radius: 50%;
  border: 3px solid white;
}

// Slide Water
// ---------------------
.slide-water {
  height: 100%;
  width: 100%;
  background:

  linear-gradient(
    rgba($brand-primary, 1),
    rgba($brand-primary, 0.3)
  ),
    url('../img/slide-water.jpg') center center;
  background-size: cover;
}

.slide-water:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -38px;
  transform: translateX(-50%);
  height: 75px;
  width: 75px;
  background:
    url('../img/water-icon.svg'),
    $brand-primary;
  border-radius: 50%;
  border: 3px solid white;
}

// Slide Healthcare
// ---------------------
.slide-health {
  display: block;
  height: 100%;
  width: 100%;
  background:

  linear-gradient(
    rgba($brand-primary, 1),
    rgba($brand-primary, 0.3)
  ),
    url('../img/slide-healthcare.jpg') center center;
  background-size: cover;
}

.slide-health:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -38px;
  transform: translateX(-50%);
  height: 75px;
  width: 75px;
  background:
    url('../img/healthcare-icon.svg') right center,
    $brand-primary;
  border-radius: 50%;
  border: 3px solid white;
}

// Slide Technology
// ---------------------
.slide-technology {
  height: 100%;
  width: 100%;
  background:

  linear-gradient(
    rgba($brand-primary, 1),
    rgba($brand-primary, 0.3)
  ),
    url('../img/slide-technology.jpg') center;
  background-size: cover;
}

.slide-technology:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -38px;
  transform: translateX(-50%);
  height: 75px;
  width: 75px;
  background:
    url('../img/technology-icon.svg') right center,
    $brand-primary;
  border-radius: 50%;
  border: 3px solid white;
}


// Slide Education
// ---------------------
.slide-education {
  height: 100%;
  width: 100%;
  background:

  linear-gradient(
    rgba($brand-primary, 1),
    rgba($brand-primary, 0.3)
  ),
    url('../img/slide-education.jpg') center;
  background-size: cover;
}

.slide-education:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -38px;
  transform: translateX(-50%);
  height: 75px;
  width: 75px;
  background:
    url('../img/education-icon.svg'),
    $brand-primary;
  border-radius: 50%;
  border: 3px solid white;
}
